# Mongo
MONGO_USER=your_mongo_user
MONGO_PASSWORD=your_mongo_password
MONGO_DB=recommendationservic_db
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<db>?retryWrites=true&w=majority&tls=true&appName=<appName>

# Spring
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8086
AI_PROVIDER=groq
SPRING_AUTOCONFIGURE_EXCLUDE=org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration

# Groq
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile

# JWT
JWT_SECRET=your_jwt_secret_base64

# Mistral
MISTRAL_API_KEY=your_mistral_api_key
